@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap");

:root {
  --primary-color: rgb(86, 172, 221);
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Heebo";
}

.navbar {
  background-color: white;
  padding: 0.5em;

  .mobile-menu {
    width: 5%;
    cursor: pointer;
  }

  nav {
    display: none;
  }
  .container {
    display: flex;
    place-content: end;
  }
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  background: white;
}

.introduction {
  text-align: center;
  padding-bottom: 2em;
}

.anto-img {
  width: 300px;
  clip-path: circle();
  object-fit: fill;
}

.left-col {
  .name-head {
    text-transform: none;
    font-weight: bold;
    font-size: 36px;
    color: black;
    letter-spacing: 0.1em;
    line-height: 1.4;
  }

  .summary {
    font-size: 16px;
    font-weight: normal;
  }

  .anto-resume {
    padding-bottom: 2em;
    .resume-viewer {
      background: #ff6464;
      font-family: "Heebo";
      color: white;
      text-decoration: none;
      padding: 0.3em 1.2em;
      margin-top: 1em;
      font-size: 20px;
      display: inline-block;
    }
  }
}

.post-project {
  text-align: center;
  background: #edf7fa;
  padding-bottom: 2em;
  .title-post-project {
    margin-top: -1em;
    margin-bottom: -1.5em;
    font-size: 18px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: flex;
    justify-content: space-between;
    .view-all-project {
      text-decoration: none;
      color: rgb(101, 190, 190);
    }
  }
}

.post-project-1 {
  background: white;

  .post-1 {
    text-align: left;
    margin: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.post-project-2 {
  background: white;
  .post-2 {
    text-align: left;
    margin: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.post-blog-section {
  padding-bottom: 1em;
  .post-block-title {
    font-size: 18px;
    margin-top: -1em;
    margin-bottom: -0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: space-between;
    .view-all-blog {
      text-decoration: none;
      color: rgb(101, 190, 190);
    }
  }
}

.blog-post-1 {
  text-decoration: none;
  margin: 1em;
  justify-content: center;
  .blog-1 {
    border-radius: 10px;
    width: 100%;
  }
}

.blog-post-2 {
  padding-top: 1em;
  margin: 1em;
  justify-content: center;
  .blog-2 {
    border-radius: 10px;
    width: 100%;
  }
}

.contact-section {
  background: #edf7fa;
  padding-bottom: 2em;
  position: relative;
  .galery-form {
    margin-top: -2em;
    text-align: center;
    position: relative;
  }
}

.image {
  text-align: center;
  display: block;
  .foto-galery {
    width: 40%;
    border-radius: 10px;
    margin: 1em;
  }
}

footer {
  padding-bottom: 1em;
  background: white;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  .ref-footer {
    text-decoration: none;
  }
  .img-footer {
    cursor: pointer;
    width: 30px;
    padding-top: 2em;
    margin-right: 0.5em;
    text-decoration: none !important;
    border: 0px !important;
    outline: none;
    border-width: 0px;
    outline-width: 0px;
    border-bottom: none;
  }
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  background: rgb(110, 108, 108);
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
  }
  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.2em;
      font-size: 1.2em;
      text-align: right;
    }
  }
}

.mobile-menu-exit {
  margin-bottom: 1em;
  float: right;
  width: 1.8em;
  height: 1.4;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    float: right;
    ul {
      display: flex;
    }
    a {
      color: black;
      font-size: 1.4em;
      padding: 0.1em 0.1em;
      margin-right: 1em;
    }
    ul.navigation-pane {
      margin: 0;
    }

    li.curent a {
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 3em 4em;
  }
  .introduction .container {
    display: flex;
    justify-content: space-between;
    text-align: right;
    .anto-img {
      margin-top: 4em;
      margin-bottom: 4em;
      width: 35%;
      clip-path: none;
      border-radius: 10%;
      //   margin-left: 4em;
    }

    .left-col {
      margin: 3em 2em 0 3em;
      margin-right: 1em;
    }
  }

  .post-project .container {
    .content-project {
      margin-right: 2em;
      display: flex;
      justify-content: space-between;
      margin-top: 3em;
      margin-bottom: 3em;
      width: 100%;

      .post-project-1 {
        margin-right: 2em;
      }
    }
  }

  .contact-section .container {
    .contact-form {
      margin-top: -2em;
      margin-left: 3em;
    }
  }

  .post-blog-section .container {
    .blog-post-1 {
      display: flex;
      justify-content: space-between;
      .image-blog-1 {
        width: 60%;
      }
      .blog-left {
        margin-top: -1.2em;
        margin-left: 2.5em;
        margin-right: 1em;
      }
    }

    .blog-post-2 {
      display: flex;
      justify-content: space-between;
      .image-blog-2 {
        width: 60%;
      }
      .blog-left {
        margin-top: -1.2em;
        margin-left: 2.5em;
        margin-right: 1em;
      }
    }
  }

  .image {
    text-align: center;
    display: block;
    .foto-galery {
      width: 30%;
      border-radius: 10px;
      margin: 1em;
    }
  }
}
